body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, p, blockquote, table, th, td, embed, object {
	padding: 0;
	margin: 0;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
fieldset, img, abbr {
	border: 0;
	}
address, caption, cite, code, dfn, em,
h1, h2, h3, h4, h5, h6, strong, th, var {
	font-weight: normal;
	font-style: normal;
	}
ul {
	list-style: none;
	}
caption, th {
	text-align: left;
	}
h1, h2, h3, h4, h5, h6 {
	font-size: 1.0em;
	}
q:before, q:after {
	content: '';
	}
a, ins {
	text-decoration: none;
	}
#wrapper{
  width: 100%;
  height: auto;
  margin: 5px;
  padding: 5px 0px;
  background-color: lightblue;
}
#header{
  height: auto;
  width: 90%;
  margin: 5px;
  border-radius: 2px;
  border: 1px solid black;
  box-shadow: 10px 10px 5px #888888;
  background-color:darkgray;
}
#header h1{
  display: inline-block;
  font-size: 1em;
  font-family: sans-serif;
  margin: 0.5% 9.75%;
}
#data{
width: 32%;
height: auto;
display: inline-block;
margin-top: 10px;
margin-left: 20px;
}
#data h1{
  display: inline-block;
}
#data input{
  margin: 5px;
  border-top: 1px solid black;
}
#cards{
  width: 65%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
}
.card1{
  display: inline-block;
  width: 200px;
  height: 100px;
  border: 1px solid black;
  margin: 10px;
}
.card2{
  display: none;
  width: 200px;
  height: 100px;
  border: 1px solid black;
  margin: 10px;
}
