<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Contact</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div class="navbar">
            <form>
                <ul>
                    <input type="submit" formmethod="get" formaction="/" value="Home">
                    <input type="submit" formmethod="get" formaction="/contact" value="Contact">
                    <input type="submit" formmethod="get" formaction="/projects" value="Projects">
                </ul>
            </form>
        </div>
        <div id="contact">
            <form>
                Name:<input type="text" name="name" value="">
                Email:<input type="text" name="email" value="">
                Message:<input type="textfield" name="message" value="">
            </form>
        </div>
    </body>
</html>