<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div class="navbar">
            <form>
                <ul>
                    <input type="submit" formmethod="get" formaction="/" value="Home">
                    <input type="submit" formmethod="get" formaction="/contact" value="Contact">
                    <input type="submit" formmethod="get" formaction="/projects" value="Projects">
                </ul>
            </form>
        </div>
        <div id="about_me">
            <img src="~/images/Profile_pic.jpg" height="200" width="300">
            <p>
            Coding Dojo is a perfect example of my preferred learning and working environment. 
            Surrounded by passionate people, evaluating priorities as issues arise in a dynamic setting, 
            alternating leading and contributing in small teams to take advantage of changes in perspective. 

            Chef, bartender, machinist, software developer: these things I've chosen to do reflect my devotion to process and function. 
            They represent a diversity of problem solving as well as the ability to adapt to new skills and company cultures.
            </p>
        </div>
    </body>
</html>