<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Projects</title>
        <link rel="stylesheet" href="css/style.css"/>
    </head>
    <body>
        <div class="navbar">
            <form>
                <ul>
                    <input type="submit" formmethod="get" formaction="/" value="Home">
                    <input type="submit" formmethod="get" formaction="/contact" value="Contact">
                    <input type="submit" formmethod="get" formaction="/projects" value="Projects">
                </ul>
            </form>
        </div>
        <div id="projects">
            <ul>
                <li><a href="https://github.com/ThermalVB/DojoAssignments">CodingDojo Assignments<a></li>
                <li><a href="https://github.com/ThermalVB/cardgame">CodingDojo Hackathon Card Game</a></li>
                <li><a href="https://github.com/ThermalVB/PythonBeltExam">CodingDojo Python Belt Exam</a></li>
            </ul>
        </div>
    </body>
</html>