@{
    ViewData["Title"] = "Home Page";
}
<form action="/result" method="post">
    Name:<input type="text" name="name" value=""><br>
    Dojo Location:<select name="Location"><br>
        <option value="chicago">Chicago</option>
        <option value="seattle">Seattle</option>
        <option value="nyc">New York</option>
    </select><br>
    Favorite Language:<select name="Language"><br>
        <option value="python">Python</option>
        <option value="ruby">Ruby</option>
        <option value="csharp">C#</option>
    </select><br>
    Comment:<input type="textarea" name="comment" value=""><br>
    <button type="submit">Submit</button>
</form>