@{
    ViewData["Title"] = "Home Page";
}
<h1>Submitted Info:</h1>
<p>Name: @ViewBag.name</p>
<p>Location: @ViewBag.location</p>
<p>Favorite Language: @ViewBag.language</p>
<p>Comment: @ViewBag.comment</p>
